<header class="max-w-screen-2xl">
  <nav class="text-white bg-indigo-600">
    <div class="px-12 py-2 md:mx-auto">
      <div class="items-center justify-between text-center md:flex">
        <div>
          <h2 class="mb-3 font-serif text-xl font-semibold md:text-3xl">
            مشاوره پزشک آنلاین
          </h2>
        </div>
        <div class="">
          <form class="flex">
            <input
              placeholder="اسم دکتر"
              type="text"
              class="rounded-s-full md:h-[53px] md:w-[500px] w-9/12 p-2 text-black pr-2 text-lg"
            />
            <button
              class="bg-cyan-800 md:w-[100px] border md:h-[53px] w-fit rounded-e-full md:text-xl text-md p-3 font-normal"
              type="submit"
              onClick="{clickHandler}"
            >
              انتخاب
            </button>
          </form>
        </div>
        <div class="hidden md:block">
          <ul class="flex font-semibold md:gap-6 md:text-lg">
            <li class="cursor-pointer hover:text-red-400">ارتباط با ما</li>
            <li class="cursor-pointer hover:text-red-400">بخش مشتری</li>
            <li class="cursor-pointer hover:text-red-400">خدمات</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
